<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings>
    <!-- MSSQL 2008 -->
    <!--<add name="NisanConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=G:\projects\NisanWeb\NisanWeb\App_Data\NisanDB.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>-->

    <!-- MSSQL 2010 -->
    <add name="NisanConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=G:\projects\NisanWeb\NisanWeb\App_Data\Nisan.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>

    <!-- hlgranite.com -->
    <!--<add name="NisanConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=hlgranit_nisan;User Id=hlgranite_sa;Password=Q1w2e3r4;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
</configuration>
