<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings>
    <!-- Office -->
    <add name="NisanConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Nisan;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>

    <!-- Home -->
    <!--<add name="NisanConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=G:\projects\NisanWeb\NisanWeb\App_Data\Nisan.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
</configuration>
