<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings>
    <add name="NisanConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=G:\projects\NisanWeb\NisanWeb\App_Data\NisanDB.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
