<?xml version="1.0"?>
<configuration>
	<appSettings/>
	<connectionStrings>
		<!--<add name="NisanConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=D:\My Projects\NisanWeb\NisanWeb\App_Data\Nisan.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>-->
    <add name="NisanConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=G:\projects\NisanWeb\NisanWeb\App_Data\NisanDB.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true"/>
		<authentication mode="Windows"/>
	</system.web>
</configuration>
